@use '../core/variables' as vars;

.footer {
    left: 0;
    bottom: 0;
    width: 100vw;
    padding: 1rem;
    background-color: vars.$color-tertiary;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-family: vars.$second-font;
    position: relative;

    &_first_column {
        display: flex;
        flex-direction: column;
        text-justify: center;
        align-items: center;
    }

    &_second_column {
        display: flex;
        flex-direction: column;
        text-justify: center;
        align-items: center;
    }

    &_copyright {
        display: flex;
        flex-direction: column;
        text-justify: center;
        align-items: center;
    }
}


/* Tablet */
@media (min-width: 780px) {
    .footer {
        left: 0;
        bottom: 0;
        width: 100vw;
        padding: 1rem;
        background-color: vars.$color-tertiary;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 90px;
        text-justify: left;
    }

    .footer_first_column {
        display: flex;
        flex-direction: column;
        order: 1;
        text-justify: left;
    }

    .footer_second_column {
        display: flex;
        flex-direction: column;
        order: 2;
        text-justify: left;
    }

    .footer_copyright {
        display: flex;
        flex-direction: column;
        text-justify: center;
        align-items: center;
        order: 0;
    }
}

/* Desktop */
@media (min-width: 780px) {

}
