@use '../core/variables' as vars;

.header_container {
  display: flex;
  background-image: url('../images/cover.jpeg');
  height: 100vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-position-x: 80%
}

.header_hamburger_menu {
  position: fixed;
  left: 0%;
  top: 0%;
  padding: 10px;
  color: white;
  background-color: #6c933e;
  display:flex;
}

.header_title { 
    font-family: "Roboto Slab", serif;
    color: white;
    align-self: flex-end;
}

.header_subtitle {
  font-family: "Roboto regular";
  display: flex;
  color: white;
  align-self: flex-end;
}

  .header_texts {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin-top: auto;
    padding: 5px;
    margin-bottom: 40px;
  }

  .header_icon {
    display: inline-flex;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: white;
    text-decoration: none;
    font-size: 5px;
    border-radius: 50%;
    transition: background 0.3s ease;
    text-align: center;
    justify-content: center;

    &_icon_chevron {
      text-align: center;
    }
  }

  .header_icon:hover {
    background-color: #0056b3;
  }

/* Tablet */
@media (min-width: 780px) {

  header.texts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .header_title {
    font-size: 70px;
  }

  .header_subtitle {
    font-size: 35px;
    font-family: vars.$third-font;
    font-weight: 300;
  }
}