@use '../core/variables' as vars;

.sectionone {
    padding: 20px;

&_title {
    color:#6c933e;
    font-family: "Roboto Slab", serif;
}
}

.sectionone_subtitle {
    font-family: "Roboto Slab", regular;
}

.sectionone_p {
    font-family: "Roboto";
    padding-bottom: 40px;
    padding-top: 20px;
}

.sectionone_button {
    font-family: 'Roboto';
    font-size: 30px;
    width: fit-content;
    padding: 10px;
    padding-inline: 50px;
    border-radius: 30px;
    background-color: white;
    border: solid #6c933e 3px;
    color: #6c933e;
    }

.sectionone_title {
    font-family: 'Roboto regular';
    font-size: 15px;
    padding-bottom: 10px;
}

/* Desktop */
@media (min-width: 1200px) {
.sectionone {
    padding-right: 40px;
    padding-left: 40px;
}

.sectionone_subtitle {
    font-size: 40px;
}

.sectionone_p {
    font-size: 20px;
}

}