.sectiontwo {
    background-color: #d9e4cc;
    &_title {
        font-family: "Roboto Slab", serif;
        font-size: 20px;
        font-weight: 400;
    }
    &_subtitle {
        font-family: "Roboto Slab", serif;
    }
    justify-content: center;
    text-align: center;
}

.articles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto Slab';
    font-weight: 600;
    align-items: center;
    gap: 20px;
    
    &_producto {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        }

    &_sectiontwo_button {
        font-family: 'Roboto';
        font-size: 20px;
        width: fit-content;
        padding: 10px;
        padding-inline: 20px;
        border-radius: 35px;
        background-color: #6c933e;
        border: none;
        color: white;
        display: flex;
        align-self: center;
        }
    }

    .articles_producto_img {
        Width: 150px;
        Height: 150px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        }

    .button_container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 40px;
    }

/* Tablet */
@media (min-width: 780px) {
    .articles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: center;
        }
}