<footer class="footer">
<div class="footer_first_column">
   <a href="https://adalab.es/"> ZAPATILLAS </a><br>
   <a href="https://adalab.es/">ROPA </a><br>
    <a href="https://adalab.es/">NIÑO/A</a><br>
    <a href="https://adalab.es/">DESTACADOS</a><br>
    <a href="https://adalab.es/">TIPS</a><br>
</div>

<div class="footer_second_column">
    <a href="https://adalab.es/">TWITTER </a><br>
    <a href="https://adalab.es/">INSTAGRAM </a><br>
    <a href="https://adalab.es/">YOUTUBE </a>
</div>
<div class="footer_copyright"> ©2023 <br> we 💚 run</div>
</footer>
