<section id="sectiontwo" class="sectiontwo">
    <h2 class="sectiontwo_title">
        ¡Prepáralos con tus marcas favoritas!
    </h2>
    <h1 class="sectiontwo_subtitle">VUELTA AL COLE</h1>
    <section class="articles">
        <article class= "articles_producto"><img class= "articles_producto_img" src="../images/lpbts-mod05-img01-desk.png"></div><p>Mochilas escolares</p></article>
        <article class= "articles_producto"><img class= "articles_producto_img" src="../images/lpbts-mod05-img04-mob.png" class="articles_producto_img"></div><p>Estuches</p></article>
        <article class= "articles_producto"><img class= "articles_producto_img" src="../images/lpbts-mod05-img03-mob.png" class="articles_producto_img"></div><p>Bolsas de deporte</p></article></section>
        <div class="button_container"><button class="articles_sectiontwo_button">Empezar ahora</button>
            </div>

            <div class="section_two_up_button_containter"><div class="sectiontwo_up_button">
                <a href=#header_containter><img src="images/ico-arrow.svg" alt="upicon"></div>
                </a></div>
</section>